<div class="jumbotron">
	<h1 class="center-block">
		Bienvenue sur SubCast!
	</h1>
	<p>
		SubCast vous permet de transcrire vos contenus audio. Une fois inscrit, il vous suffira de téléverser un fichier ou de fournir une URL pour amorcer la transcription. Vous serez prévenu par email lorsque celle-ci sera terminée. Outre les contenus, vous pouvez également vous abonner à des podcast afin d'obtenir directement la transcription lors de la mise en ligne d'une nouvelle émission. Que vous souhaitiez vous perfectionner en français oral, surveiller certains sujets qui vous touchent, ou bien que vous préferiez lire plutôt qu'écouter, SubCast est là pour vous.
	</p>
	<p>
		<%= link_to "Essayer", signup_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>
