<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbar-collapsable">
			<ul class="nav navbar-nav ">
				<li>
					<a href="dummy">Rechercher Transcription</a>
			</ul>
			<ul class="nav navbar-nav navbar-right" align="right">
				<% if signed_in? %>
					<li>
						<%= link_to "Déconnexion", signout_path %>
					</li>
				<% else %>
					<li>
						<%= link_to "Inscription", new_user_path %>
					</li>
					<li>
						<%= link_to "Connexion", signin_path %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
