<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbar-collapsable">
			<ul class="nav navbar-nav ">
				<li >
					<%= link_to "Inscription", new_user_path %>
				</li>
				<li>
					<a href="dummy">Connexion</a>
				</li>
				<li>
					<a href="dummy">Rechercher Transcription</a>
			</ul>
			<ul class="nav navbar-nav navbar-right" align="right">
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>
